@import "colors";

.tableClass {
  background-color: $pink;

  main {
    background-color: white;
    margin: auto;
    height: 100%;
    padding: 2rem;
    overflow-x: auto;

    > table {
      margin: auto;
      text-align: center;
      border-collapse: collapse;
      tr {
        background-color: whitesmoke;

        &:last-child {
          td:first-child {
            border-radius: 0 0 0 10px;
          }
          td:last-child {
            border-radius: 0 0 10px 0;
          }
        }
      }

      td,
      th {
        padding: 1rem;
      }

      th {
        background-color: $dark;
        color: white;
        &:first-child {
          border-radius: 5px 0 0 0;
        }
        &:last-child {
          border-radius: 0 5px 0 0;
        }
      }

      td {
        color: $lightdark;

        > img {
          width: 30px;
          height: 30px;
          border-radius: 100%;
        }

        > a {
          color: $red;
        }
        > button {
          border: none;
          cursor: pointer;
          margin: 0.25rem;
          color: $red;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .tableClass main > table {
    font-size: smaller;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
  }
}
